Repository nataliababic/swdevel-lab-hfarm, pull requests merged in 2023-12, with the labels that each got.

#8 Create Question_2.py
  backend/app/mymodules/Question_2.py
Labels: Backend

#9 Funct3.py
  backend/app/mymodules/funct3.py
Labels: Sprint-2

#11 Anna Citon module merge
  README_Bologna.md
  backend/app/main.py
  backend/app/mymodules/Question_2.py
  backend/tests/test_main.py
Labels: Sprint-2, Backend

#28 Lorenzoparo module
  backend/app/mymodules/csv_cleaning.py
  backend/tests/test_csv_cleaning.py
Labels: Sprint-2, Backend

#32 Backend update
  backend/app/main.py
  backend/app/mymodules/funct3.py
  backend/tests/test_Question_3.py
Labels: Backend
